@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.breadcrumb {
    @include center; //mixin
    font-size: 12px;
    color: $Gray-30;
    display: flex;
    gap: 4px;
}

a {
  color: $Gray-30;
}

a:hover {
  color: $Black;
}