@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;


.button {
  @include center; //mixin
  box-sizing: border-box;
  outline: none;
  display: flex;
  gap: 4px;


  &_small {
    font-size: 11px;
    border-radius: 8px;
    padding: 6px 12px;
  }

  &_medium {
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 14px;
  }

  &_large {
    font-size: 14px;
    border-radius: 12px;
    padding: 10px 16px;
  }

  &_primary { 
    background-color: $Green; 
    border-color: $Green;
    color: $Black;
  }

  &_secondary {
    background-color: $Gray-BG;
    border-color: $Gray-BG;
    color: $Gray-30;
  }

  &_ghost {
    color: $Gray-30;
    border-color: $Gray-Line;
    background-color: $White;
  }

  &_transparent {
    color: $Gray-30;
    border: none;
    background-color: transparent;
    border-color: transparent;
  }
}
