$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-ArchiveTray: "\e900";
$icon-ArrowClockwise: "\e901";
$icon-ArrowDown: "\e902";
$icon-ArrowLeft: "\e903";
$icon-ArrowRight: "\e904";
$icon-ArrowsLeftRight: "\e905";
$icon-ArrowUp: "\e906";
$icon-Bell: "\e907";
$icon-BookmarkSimple: "\e908";
$icon-Briefcase: "\e909";
$icon-CalendarBlank: "\e90a";
$icon-CaretDown: "\e90b";
$icon-CaretLeft: "\e90c";
$icon-CaretRight: "\e90d";
$icon-CaretUp: "\e90e";
$icon-ChalkboardTeacher: "\e90f";
$icon-ChartBar: "\e910";
$icon-ChatTeardropDots1: "\e911";
$icon-Check: "\e912";
$icon-CheckCircle: "\e913";
$icon-CircleDashed: "\e914";
$icon-CircleWavyCheck: "\e915";
$icon-Clock: "\e916";
$icon-CoinIn: "\e917";
$icon-CoinOut: "\e918";
$icon-CoinVertical: "\e919";
$icon-ConversionRate: "\e91a";
$icon-CopySimple: "\e91b";
$icon-CornersOut: "\e91c";
$icon-CurrencyCircleDollar: "\e91d";
$icon-CursorClick: "\e91e";
$icon-DotsThree: "\e91f";
$icon-DotsThreeVertical: "\e920";
$icon-DownloadSimple: "\e921";
$icon-EnvelopeOpen: "\e922";
$icon-Eye: "\e923";
$icon-FacebookLogo: "\e924";
$icon-FadersHorizontal: "\e925";
$icon-FilePdf: "\e926";
$icon-FileText: "\e927";
$icon-FileX: "\e928";
$icon-FileXls: "\e929";
$icon-Funnel: "\e92a";
$icon-GearSix: "\e92b";
$icon-Globe: "\e92c";
$icon-GpsFix: "\e92d";
$icon-GridFour: "\e92e";
$icon-Hourglass: "\e92f";
$icon-HourglassHigh: "\e930";
$icon-House: "\e931";
$icon-IdentificationBadge: "\e932";
$icon-ImageSquare: "\e933";
$icon-Info: "\e934";
$icon-InstagramLogo: "\e935";
$icon-Link: "\e936";
$icon-LinkedinLogo: "\e937";
$icon-List: "\e938";
$icon-MagnifyingGlass: "\e939";
$icon-MapPinArea: "\e93a";
$icon-Medal: "\e93b";
$icon-Minus: "\e93c";
$icon-Note: "\e93d";
$icon-NotePencil: "\e93e";
$icon-Paperclip: "\e93f";
$icon-PaperPlaneRight: "\e940";
$icon-Phone: "\e941";
$icon-Plus: "\e942";
$icon-Question: "\e943";
$icon-Ruler: "\e944";
$icon-SealPercent: "\e945";
$icon-ShareNetwork-1: "\e946";
$icon-ShoppingCart: "\e947";
$icon-SidebarSimple: "\e948";
$icon-SignIn: "\e949";
$icon-SmileySticker: "\e94a";
$icon-Sort: "\e94b";
$icon-SpinnerGap: "\e94c";
$icon-ThumbsUp: "\e94d";
$icon-Timer: "\e94e";
$icon-Trash: "\e94f";
$icon-TrendDown: "\e950";
$icon-TrendUp: "\e951";
$icon-TwitterLogo: "\e952";
$icon-UserCircle: "\e953";
$icon-UserCircleCheck: "\e954";
$icon-Users: "\e955";
$icon-UserSwitch: "\e956";
$icon-VideoCamera: "\e957";
$icon-Wallet: "\e958";
$icon-WarningOctagon: "\e959";
$icon-X: "\e95a";
$icon-YoutubeLogo: "\e95b";
$icon-Bed: "\e95c";
$icon-Bread: "\e95d";
$icon-CalendarCheck: "\e95e";
$icon-CalendarSlash: "\e95f";
$icon-CaretDoubleUp: "\e960";
$icon-CheckSquare: "\e961";
$icon-CookingPot: "\e962";
$icon-Cube: "\e963";
$icon-CurrencyCircleDollar1: "\e964";
$icon-Dress: "\e965";
$icon-Drop: "\e966";
$icon-DropHalfBottom: "\e967";
$icon-Fire: "\e968";
$icon-Fish: "\e969";
$icon-Footprints: "\e96a";
$icon-ForkKnife1: "\e96b";
$icon-Handbag: "\e96c";
$icon-Handshake: "\e96d";
$icon-Invoice: "\e96e";
$icon-Knife: "\e96f";
$icon-Leaf: "\e970";
$icon-Lightning: "\e971";
$icon-ListNumbers: "\e972";
$icon-MoonStars: "\e973";
$icon-Path: "\e974";
$icon-PersonArmsSpread: "\e975";
$icon-PersonSimple: "\e976";
$icon-PersonSimpleBike: "\e977";
$icon-PersonSimpleDeadlifts: "\e978";
$icon-PersonSimpleRun: "\e979";
$icon-PersonSimpleTaiChi1: "\e97a";
$icon-PintGlass: "\e97b";
$icon-ReceiptX: "\e97c";
$icon-Repeat: "\e97d";
$icon-RocketLaunch: "\e97e";
$icon-SealCheck: "\e97f";
$icon-Sneaker: "\e980";
$icon-Speedometer: "\e981";
$icon-Suitcase: "\e982";
$icon-Ticket: "\e983";
$icon-TShirt: "\e984";
$icon-UserCirclePlus: "\e985";
$icon-Warehouse: "\e986";
$icon-Watch: "\e987";
$icon-BowlFood: "\e988";
$icon-CalendarDots: "\e989";
$icon-ChartLineUp: "\e98a";
$icon-ChatTeardropDots: "\e98b";
$icon-ForkKnife: "\e98c";
$icon-Heartbeat: "\e98d";
$icon-Notebook: "\e98e";
$icon-PersonSimpleTaiChi: "\e98f";
$icon-SignOut: "\e990";
$icon-SquaresFour: "\e991";

