.Nunito-Bold {
  // font-family: "Nunito-Bold";
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
}

.Nunito-Black {
  // font-family: "Nunito-Black";
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
}

.Nunito-Regular {
  // font-family: "Nunito-Regular";
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
}

.Nunito-ExtraBold {
  // font-family: "Nunito-ExtraBold";
  font-family: "Nunito";
  font-weight: 800;
  font-style: normal;
}

.Nunito-SemiBold {
  // font-family: "Nunito-SemiBold";
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
}