@use "../../../../scss/mixins" as *;
@use "../../../../scss/variables" as *;


.checkbox {
    @include center; //mixin
    font-size: 11px;
    padding: 6px 12px 6px 6px;
    border-radius: 8px;
    width: max-content;
    display: flex;
    gap: 4px;
    cursor: pointer;
}

input {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $Gray-Line;
    border-radius: 4px;
    background: $White;
    appearance: none;
    cursor: pointer;
}

input:checked:after {
    font-family: "icomoon";
    content: "\e912";
    position: absolute;
    background: $Green;
    border: 1px solid $Green;
    border-radius: 4px;
    overflow: hidden;
}

