$Green: #C2E66E;
$Green-Light: #DFF9A2;
$Saffron: #FFCB65;
$Saffron-Light: #FFE6B5;
$Orange: #FFA257;
$Orange-20: #FFBE8A;
$Orange-10: #FFE1C9;
$Orange-Subtle: #FFF2E8;
$Black: #272932;
$Pure-White: #FFFFFF;
$Blue: #248688;
$Pink: #DD2D4A;
$Gray-30: #52545B;
$Gray-20: #8A8C90;
$Gray-10: #BEBFC2;
$Gray-Line: #E1E1E2;
$Gray-BG: #EEEEEF;
$Cream-BG: #F9F4F2;


$Blue-00: #3384C6;
$Blue-10: #43ABFF;
$Blue-20: #B9E0FF;
$Blue-Subtle: #E8F5FF;
$Red: #FF434E;
$Red-Light: #FFACB1;
$Red-Subtle: #FFE1E3;
$Red-Subtle1: #FFF4F4;
// $Black: #000E19;
$White: #FFFFFF;
// $Gray-30: #333E47;
// $Gray-20: #757D83;
// $Gray-10: #B3B7BA;
// $Gray-Line: #DBDDDF;
// $Gray-BG: #F2F3F4;
// $Gray-BG-Subtle: #F7F8F8;